.shirt
  background-color: $adBg
  border-radius: 15px
  
@import "shirt_wiggle"
.shirt-image
  width: 200px
  float: left
  margin-top: -45px
  &:hover
    -webkit-animation: shirt-wiggle 0.25s 2
    -moz-animation: shirt-wiggle 0.25s 2
    animation: shirt-wiggle 0.25s 2
  
.shirt-cta
  margin-top: 25px
  
.shirt a
  color: $adText
  .shirt-cta
    color: $blue
  &:visited
    color: $adText
    .shirt-cta
      color: $blue
  &:hover
    color: $linkHover
    .shirt-cta
      color: $adHoverBlue
    
