$angle: -45deg
$rep1: 20px
$rep2: $rep1 + 4px
$rep3: $rep2 + 2px
body
  background-color: $bg
  background: -webkit-repeating-linear-gradient($angle, $darkGrey, $darkGrey $rep1, $darkerGrey $rep2, $darkGrey $rep3)
  background: -o-repeating-linear-gradient($angle, $darkGrey, $darkGrey $rep1, $darkerGrey $rep2, $darkGrey $rep3)
  background: -moz-repeating-linear-gradient($angle, $darkGrey, $darkGrey $rep1, $darkerGrey $rep2, $darkGrey $rep3)
  background: repeating-linear-gradient($angle, $darkGrey, $darkGrey $rep1, $darkerGrey $rep2, $darkGrey $rep3)
  -webkit-background-size: 2000px 2000px
  -o-background-size: 2000px 2000px
  -moz-background-size: 2000px 2000px
  background-size: 2000px 2000px
  
