$pink:    #f746f6
$bBlue:   #0a70ff
$cBlue:   hsl(215, 94, 52)
$dBlue:   hsl(217, 96, 52)
$yellow:  #f6cd46
$grey:    #696969
$green:   #1cc82d
$red:     #fe4747

$bg: #454545
$player-color: $yellow
$ai-color:     $dBlue
