$pink:    #f746f6
$bBlue:   hsl(215, 110, 52)
$yellow:  hsl(46, 91%, 62%)
$grey:    hsl(0, 0%, 41%)
$green:   #1cc82d
$red:     #fe4747

$bg: hsl(0, 0%, 25%)
$player-color: $bBlue
$ai-color:     $yellow
