/*------------------
 *  Results
 *------------------

#result-row
  display: block
  float: none
  clear: both
  min-height: 55px
  width: 100%
  margin: 0 auto
  text-align: center

#player-result
  float: right

#ai-result
  float: left

#score-row
  float: none
  display: block
  clear: both
  min-height: 55px

#player-score
  float: left

#ai-score
  float: right
  text-align: right

#player-score .fa
  color: $player-color

#ai-score .fa
  color: $ai-color

.win
  color: $green

.lose
  color: $red

.tie
  color: $grey

.score
  color: $grey

// safari and chrome
@-webkit-keyframes result-flash
  0%
    -webkit-transform: scale(15, 15) translate3d(0, 0px, 0)
    opacity: 0
  100%
    -webkit-transform: scale(4,4) translate3d(0,0,0)
    opacity: 1
    
// firefox
@-moz-keyframes result-flash
  0%
    -moz-transform: scale(15, 15) translate3d(0, 0px, 0)
    opacity: 0
  100%
    -moz-transform: scale(4,4) translate3d(0,0,0)
    opacity: 1
    
//
@keyframes result-flash
  0%
    transform: scale(15, 15) translate3d(0, 0px, 0)
    opacity: 0
  100%
    transform: scale(4,4) translate3d(0,0,0)
    opacity: 1

.result-symbol
  opacity: 0
  font-size: 24px
  -webkit-animation: result-flash 0.45s 1
  -moz-animation: result-flash 0.45s 1
  animation: result-flash 0.15s 1
  -webkit-animation-delay: 0.23s
  -moz-animation-delay: 0.23s
  animation-delay: 0.23s
  -webkit-animation-timing-function: ease-in-out
  -moz-animation-timing-function: ease-in-out
  animation-timing-function: ease-in
  -webkit-animation-fill-mode: forwards
  -moz-animation-fill-mode: forwards
  animation-fill-mode: forwards
