%h1 Font Awesome Rock Paper Scissors
%p
  Rock Paper Scissors game implemented with
  %a{href: "http://fontawesome.io"}
    %i.fa.fa-fa{"aria-hidden" => "true"}
    Font Awesome
  icons for all of the graphics. This site is powered by
  %a{href: "http://maxcdn.com"}
    %i.fa.fa-maxcdn{"aria-hidden" => "true"}
    MaxCDN

%h2 How to Play
%p
  Click on one of the hand icons
  %i.fa.fa-hand-rock-o.white{"aria-hidden" => "true"}
  %i.fa.fa-hand-paper-o.white{"aria-hidden" => "true"}
  %i.fa.fa-hand-scissors-o.white{"aria-hidden" => "true"}
  at the bottom of the screen to select your
  throw. The hand on the left will make the throw you choose.
  You will see
  %i.fa.fa-check.green{"aria-hidden" => "true"}
  ,
  %i.fa.fa-close.red{"aria-hidden" => "true"}
  , or
  %i.fa.fa-undo{"aria-hidden" => "true"}
  in the top middle of the screen
  indicating that you won, lost, or tied.
  In the top corners, symbols will appear representing your total number
  of wins;
  %i.fa.fa-check.blue{"aria-hidden" => "true"}
  for 1,
  %i.fa.fa-star.blue{"aria-hidden" => "true"}
  for 5, and
  %i.fa.fa-diamond.blue{"aria-hidden" => "true"}
  for 25
%p
  For the rules of Rock Paper Scissors,
  = succeed "." do
    %a{:href => "rules"} click here
    
-# %h3 Who am I Playing Against?
-# %p
-#   The computer; this is a one-player game.
-#     
%h2 Who made This?
%p
  It was created by
  %a{:href => "http://www.morganlaco.com"}
    Morgan Laco
  and her girlfriend
  %i.fa.fa-heart.red{"aria-hidden" => "true"}
  Jocelyn in May 2016. We hope you like it, and if
  you have any feedback, check out the
  %a{:href => "http://www.github.com/mlaco/icon_rps"}
    %i.fa.fa-github-alt{"aria-hidden" => "true"}
    repo
%p
  Cool,
  %a{:href => "/"}
    let me play!
