!!!
%html
  %head
    %title Font Awesome RPS
    %link{:href => "https://fonts.googleapis.com/css?family=Arvo", :rel => "stylesheet", :type => "text/css"}
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", :integrity => "sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1", :rel => "stylesheet"}
    %link{:charset => "utf-8", :href => "stylesheets/about.css", :rel => "stylesheet"}
    %link{:href => "images/favicon.ico", :rel => "apple-touch-icon"}
    %link{:href => "images/favicon.ico", :rel => "icon"}
  %body
    #title
      %a{:href => "/"}
        %i.fa.fa-hand-rock-o.big{"aria-hidden" => "true"}
        %i.fa.fa-hand-paper-o.big{"aria-hidden" => "true"}
        %i.fa.fa-hand-scissors-o.big{"aria-hidden" => "true"}
        %i.fa.fa-gamepad.big{"aria-hidden" => "true"}
      #powered
        %a{href: "http://fontawesome.io"}
          %i.fa.fa-font-awesome.big{"aria-hidden" => "true"}
        %a{href: "http://maxcdn.com"}
          %i.fa.fa-maxcdn.big{"aria-hidden" => "true"}
        
    .wrapper
    
      %p
        %a{href: "http://amzn.to/1WXuSAc"}
          .shirt
            %img{src: "images/shirt_alpha.png", class: "shirt-image"}
            .shirt-cta
              Get a
              %i.fa.fa-hand-rock-o{"aria-hidden" => "true"}
              %i.fa.fa-hand-paper-o{"aria-hidden" => "true"}
              %i.fa.fa-hand-scissors-o{"aria-hidden" => "true"}
              shirt
            %p{style: "margin-top: 6px;"}
              support this project and Font Awesome!
    
      = yield
    
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"}
