!!!
%html
  %head
    %title Font Awesome RPS
    %link{:href => "https://fonts.googleapis.com/css?family=Arvo", :rel => "stylesheet", :type => "text/css"}
      %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css", :integrity => "sha384-aNUYGqSUL9wG/vP7+cWZ5QOM4gsQou3sBfWRr/8S3R1Lv0rysEmnwsRKMbhiQX/O", :rel => "stylesheet"}
        %link{:charset => "utf-8", :href => "styles/styles.css", :rel => "stylesheet"}
          %link{:href => "images/favicon.ico", :rel => "apple-touch-icon"}
            %link{:href => "images/favicon.ico", :rel => "icon"}
  %body
    #title
      %a{:href => "/"}
        %i.fa.fa-fa{"aria-hidden" => "true"}
        %i.fa.fa-hand-rock-o{"aria-hidden" => "true"}
        %i.fa.fa-hand-paper-o{"aria-hidden" => "true"}
        %i.fa.fa-hand-scissors-o{"aria-hidden" => "true"}
        %i.fa.fa-gamepad{"aria-hidden" => "true"}
        
    = yield
    
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"}
    %script{:src => "scripts/game.js"}
