body {
  background-color: #454545;
  color: white;
  font-family: "Arvo", sans;
  font-size: 100%;
}
#title {
  font-size: 22px;
}
h1, h2 {
  color: white;
}

#game {
  padding: 1em;
  font-size: 100%;
}
#throws {
  float: none;
  clear: both;
  display: block;
  padding-top: 2em;
  margin: 0 auto;
  width: 95%;
}
#player-choice {
  float: left;
}
#ai-choice {
  color: #f7d646;
}
.player-hand {
  color: #4667f7;
}
.ai-hand {
  float: right;
}


/*------------------
  Input
------------------*/
#input {
  color: #6a6a6a;
  float: none;
  clear: both;
  width: 450px;
  margin: 0 auto;
  padding-top: 90px;
}
#input .fa {
  transition: color .3s ease-out;
  color: #6a6a6a;
}
#input .fa:hover {
  transition: color .2s ease-out;
  color: #4667f7;
}
/*Animations*/
@keyframes highlightChoice {
  from{ color: #6a6a6a; }
  to{ color: #4667F7; }
}


/*------------------
  Throw Animation
------------------*/
.player-throw {
  transition: padding-left .13s ease-in;
  padding-left: 20%;
}
.ai-throw {
  transition: padding-right .13s ease-in;
  padding-right: 20%;
}
.player-return {
  transition: padding-left .45s ease-in-out;
  padding-left: 0;
}
.ai-return {
  transition: padding-right .45s ease-in-out;
  padding-right: 0;
}


/*------------------
  Results
------------------*/
#result-row {
  display: block;
  float: none;
  clear: both;
  min-height: 55px;
  width: 25%;
  margin: 0 auto;
}
#player-result {
  float: left;
}
#ai-result {
  float: right;
}
#score-row {
  float: none;
  display: block;
  clear: both;
  min-height: 55px;
}
#player-score {
  float: left;
}
#ai-score {
  float: right;
  text-align: right;
}
#player-score .fa {
  color: #4667F7;
}
#ai-score .fa {
  color: #f7d646;
}
.win {
  color: #1cc82d;
}
.lose {
 color: #fe4747;
}
.tie {
  color: #6a6a6a;
}
.score {
  color: #6a6a6a;
}


/*------------------
  Other
------------------*/
#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2em;
  width: 97%;
  font-size: 22px;
  text-align: right;
  padding: 0 1em;
}
a {
  text-decoration: none;
}
a, a:visited {
  color: white;
}
a:hover {
  color: #6a6a6a;
}
