#game {
  font-size: 185%;
  width: 85%;
}

#input {
  /*padding-top: 400px;*/
}

#throws {
  padding-top: 200px;
}

/*--------------
  Animations
--------------*/
.player-throw {
  transition: padding-left .13s ease-in;
  padding-left: 25%;
}
.ai-throw {
  transition: padding-right .13s ease-in;
  padding-right: 25%;
}
