#game {
  font-size: 185%;
  width: 100%;
}

#throws {
  padding-top: 20px;
}

#input-wrapper {
  font-size: 200%;
}

#liz-input-wrapper {
  font-size: 125%;
}

/*--------------
  Animations
--------------*/
.player-throw {
  transition: padding-left .13s ease-in;
  padding-left: 29%;
}
.ai-throw {
  transition: padding-right .13s ease-in;
  padding-right: 29%;
}
