#game {
  font-size: 200%;
  width: 95%;
}

#throws {
}
/*--------------
  Animations
--------------*/
.player-throw {
  transition: padding-left .13s ease-in;
  padding-left: 25%;
}
.ai-throw {
  transition: padding-right .13s ease-in;
  padding-right: 25%;
}
