a, a:visited {
  color: red;
}
#game {
  font-size: 200%;
  width: 85%;
}

#input {
  padding-top: 400px;
}

#throws {
}

/*--------------
  Animations
--------------*/
.player-throw {
  transition: padding-left .13s ease-in;
  padding-left: 300%;
}
.ai-throw {
  transition: padding-right .13s ease-in;
  padding-right: 100%;
}
