body {
  background-color: #454545;
  color: #4667F7;
}
#game {
  font-size: 3.1em;
}
#player-choice {
  float: left;
}
#input {
  color: #6a6a6a;
  float: none;
  clear: both;
  font-size: .7em;
  width: 40%;
  margin: 0 auto;
}
#input .fa {
  transition: color .3s ease-out;
  color: #6a6a6a;
}
#input .fa:hover {
  transition: color .2s ease-out;
  color: #4667f7;
}
#ai-choice {
  color: #f7d646;
}
.ai-hand {
  float: right;
}
.is-hidden {
  display: none;
  visibility: hidden;
  position: relative;
}
.is-hidden::before {
  display: none;
}
.rotate-270-flip {
  -ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=3) progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform:rotate(270deg) scale(-1, 1);
  -ms-transform:rotate(270deg) scale(-1, 1);
  transform:rotate(270deg) scale(-1, 1);
}
.rotate-180-flip {
  -ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2) progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform:rotate(180deg) scale(1, -1);
  -ms-transform:rotate(180deg) scale(1, -1);
  transform:rotate(180deg) scale(1, -1);
}

/*Animations*/
@keyframes highlightChoice {
  from{ color: #6a6a6a; }
  to{ color: #4667F7; }
}
