body {
  background-color:rgb(69, 69, 69);
  color: rgb(247, 214, 70);
}
#game {
  font-size: 3.1em;
}
.ai-hand {
  float: right;
}
.is-hidden {
  display: none;
  visibility: hidden;
  position: relative;
}
.is-hidden::before {
  display: none;
}
.rotate-270-flip {
  -ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=3) progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform:rotate(270deg) scale(-1, 1);
  -ms-transform:rotate(270deg) scale(-1, 1);
  transform:rotate(270deg) scale(-1, 1);
}
.rotate-180-flip {
  -ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2) progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform:rotate(180deg) scale(1, -1);
  -ms-transform:rotate(180deg) scale(1, -1);
  transform:rotate(180deg) scale(1, -1);
}
#input {
  position: absolute;
  top: 200px;
  left: 26%;
}
